__pycache__/
*.py[cod]
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
**/migrations/
!MASTERS/hr_master/migrations/
!MASTERS/hr_master/migrations/*.py
!MASTERS/purchase_master/migrations/
!MASTERS/purchase_master/migrations/*.py

.venv/
